$white: white;
$grey: #999999;
$grey--dark: #55595c;
$grey--darker: #888;
$black: #333;
$black--transparent: rgba(51,51,51,0.8);

// UNUSED
$blue: #3c6be4;
$blue--new: #3498db;
$gold--lightest: #f0ece5;
$gold--lighter: #e2d0b0;
$gold: #e5c078;
$gold--darker: #d1b173;
$gold--darkest: #947e55;
$blue--dark: #335985;
$blue--darkFaded: #9dafc4;
// END

$blah: #0085ff;
$blah2: #8899ac;
$blah3: #bec5cc;
$blah5: #e6e7e7;
$blah-prominent: #8899ac;
// $old-blue: #335985;
$old-blue: #29476a;
$primary: $blah2;
$inputs: $blah2;


$brand-primary: $blah2;
$brand-secondary: $grey--darker;



