<div class="Footer">
  <div class="Footer-recall">
    <div class="Footer-action">
      <div class="Footer-actionButton">
        <a class="Button btn btn-primary" href="/create">Create</a>
      </div>
      <div class="Footer-actionButton">
        <a class="Button Button--clear" href="/playground">Try It ></a>
      </div>
    </div>
  </div>
  <div class="Footer-links">
    <div class="Footer-linkSection">
      <div class="Footer-header">
        Use
      </div>
      <div>
        <a class="Footer-link" href="/playground">Playground</a>
      </div>
      <div>
        <a class="Footer-link" href="/create">App</a>
      </div>
    </div>
    <div class="Footer-linkSection">
      <div class="Footer-header">
        Docs
      </div>
      <div>
        <a class="Footer-link" href="/algorithm">Algorithm</a>
      </div>
      <div>
        <a class="Footer-link" href="/comparisons">Comparisons</a>
      </div>
      <div>
        <a class="Footer-link" href="/faq">FAQ</a>
      </div>
    </div>
    <div class="Footer-linkSection">
      <div class="Footer-header">
        Developer Docs
      </div>
      <div>
        <a class="Footer-link" href="/service">Service</a>
      </div>
      <div>
        <a class="Footer-link" href="/package">Package</a>
      </div>
    </div>
    <div class="Footer-linkSection">
      <div class="Footer-header">
        Contribute
      </div>
      <div>
        Algorithm -
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-algorithm">source</a>
        |
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-algorithm/issues">issue</a>
      </div>
      <div>
        Service -
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-service">source</a>
        |
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-service/issues">issue</a>
      </div>
      <div>
        Website -
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">source</a>
        |
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website/issues">issue</a>
      </div>

      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Translation</a>
      </div>
      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Technical Writing</a>
      </div>
      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Design / Branding</a>
      </div>
      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Non-Profit Administration</a>
      </div>
      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Donations</a>
      </div>
      <div>
        <a class="Footer-link" href="https://github.com/fullvote/fullvote-website">Any skill you bring!</a>
      </div>
    </div>
  </div>
</div>
