<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="theme-color" content="#335985">
<link rel="manifest" href="{{#urlFor}}/manifest.json{{/urlFor}}">
<link rel="icon" type="image/png" href="{{#urlFor}}/assets/images/favicon-32x32.png{{/urlFor}}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{#urlFor}}/assets/images/favicon-16x16.png{{/urlFor}}" sizes="16x16" />
