{
    "@context": "http://schema.org/",
    "@type": "Organization",
    "email": "fairvote@gmail.com",
    "founder": [
        {
            "@type": "Person",
            "name": "Craig Martin"
        }
    ],
    "logo": {
        "@type": "ImageObject",
        "url": "https://www.fullvote.org{{#urlFor}}/assets/images/logo.png{{/urlFor}}",
        "width": 600,
        "height": 60
    },
    "name": "FairVote",
    "description": "A voting system for good",
    "name": "FullVote",
    "url": "https://www.fullvote.org",
    "image": "https://www.fullvote.org{{#urlFor}}/assets/images/logo.jpg{{/urlFor}}"
}
