<nav class="Navbar">
    <div class="Navbar-brand">
      <a href="/">
        FullVote
        <span class="Navbar-brandImage u-voticon u-voticon--vote"></span>
      </a>
    </div>
    <div class="Navbar-items">
        <div class="Navbar-item u-hidden-sm-down"><a href="/playground">Playground</a></div>
        <div class="Navbar-item u-hidden-sm-down"><a href="/faq">FAQ</a></div>
        <div class="Navbar-item u-hidden-sm-down"><a href="/comparisons">Comparisons</a></div>
        <div class="Navbar-item u-hidden-sm-down"><a href="/algorithm">Algorithm</a></div>

        <div class="Navbar-item Dropdown u-hidden-md-up">
            <input tabindex="1" class="Dropdown-toggle Navbar-itemInput Navbar-itemInput--right" value="&#xe90f;" readonly>
            <ul class="Navbar-itemContent Dropdown-content Dropdown-content--right">
                <li><a href="/playground" class="Navbar-dropdownItem">Playground</a></li>
                <li><a href="/faq" class="Navbar-dropdownItem">FAQ</a></li>
                <li><a href="/comparisons" class="Navbar-dropdownItem">Comparisons</a></li>
                <li><a href="/algorithm" class="Navbar-dropdownItem">Algorithm</a></li>
                <li><a href="/create" class="Navbar-dropdownItem">Create</a></li>
            </ul>
        </div>
    </div>
    <div class="Navbar-prominent u-hidden-sm-down"><a href="/create">Create</a></div>
</nav>
