.Intro {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.Intro-section {
  vertical-align: top;
  width: 24%;
  display: inline-block;
  padding: 20px;
  text-align: left;
}
.Intro-sectionHeader {
  font-size: 2em;
  font-weight: 200;
  padding-bottom: 10px;
}
.Intro-sectionCopy {
  letter-spacing: 1.03px;
  font-weight: 300;
  font-size: 1.3em;
}
